<h1>Listing comments</h1>

<table>
  <tbody id="events">
    <% @events.each do |event| %>
      <tr>
        <td><%= event.content %></td>
        <td id="event_<%= event.id %>">
          <%= render 'entries/entry_button', event: event, entry: event.entry_for(current_user) %>
        </td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>