<% content_for :head do %>
  <meta property="og:title" content="<%= @event.title %> - Sponge" />
  <meta property="og:description" content="<%= @event.title %> -Sponge" />
<% end %>

<div class="container">
  <div class="container-inner inner-md clearfix">
    <div class="col-xs-9">
      <div class="event-single-main">
        <div class="image">
          <div class="img-wrap">
            <div class="title">
              <h1><%=@event.title %></h1>
              <hr>
            </div>
            <div class="schedule">
            <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 開催予定日時：<%= @event.schedule %>
            <h5 class="favorite"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h5></h4>

            
            </div>
            <% if @event.image.present? %>
            <%= image_tag(@event.image , alt: @event.title) %>
            <% else %>
            <%= image_tag("no-image.png" , alt: @event.title) %>
            <% end %>
          </div>
        </div>
      <!--<%#= render 'action' , item: @event %>-->
      </div>
        <div class="event-single-middle">
          <div class="dayt">
        
        <%= @event.price %>
        <%= @event.content %>
        <%= @event.numberofpeople %>
          </div>
        </div>
    </div>

    <div class="col-xs-3">
    <div class="event-single-side">
      <div class="side-box">
          <div class="button_wrapper">
              <p>このイベントに参加しよう</p>
        <h4 class="btn btn-primary btn-lg">イベントに参加する！</h4>
        </div>
        <div class="side-box-body">
      </div>
    </div>
            
    <div class="event-single-side">
      <div class="side-box">
        <h4 class="side-box-title">お気に入りした人</h4>
        <div class="side-box-body">
          <%# @item.have_users.each do |user| %>
          <%#= link_to (gravatar_for user, size: 24), user %>
          
          <%# end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">参加者</h4>
        <div class="side-box-body">
          <%# @item.want_users.each do |user| %>
          <%#= link_to (gravatar_for user, size: 24), user %>
          <%# end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%#= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}),  @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div></div>